@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  li {
    @apply p-4;
  }

  button {
    @apply bg-primary-color text-white text-xl font-bold py-4 px-10
  }

  button:hover {
    @apply bg-white text-primary-color
  }

  h1 {
    @apply text-4xl;
  }
  h2 {
    @apply text-xl;
  }
  h3 {
    @apply text-lg;
  }
  a {
    @apply text-primary-color;
  }
}

@layer components {
  .card {
    background-color: theme("colors.white");
    border-color: theme("colors.black");
    border-radius: 10px;
    box-shadow: theme("boxShadow.xl");
    max-width: 700px;
    margin: 10px auto;
    padding: 10px;
  }
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}
